*.o
.DS_Store
pdal-session/pdal-session
examples/cpp/get-points
examples/cpp/put-pipeline
*.log
db-handler/db/*

node_modules
npm-debug.log
.vagrant
doc/overview.pdf
web/public/css/style.css
examples/data/autzen.laz
scripts/vagrant/pdal
