*.o
.DS_Store
pdal-session/pdal-session
examples/cpp/get-points
examples/cpp/put-pipeline
*.log
*.swp
*.rdb

key.pem
cert.pem
config.js
credentials.js
node_modules
npm-debug.log
.vagrant
doc/*.pdf
web/public/css/style.css
scripts/vagrant/pdal
scripts/vagrant/entwine
controller/build
*.gypi

examples/data/*
!examples/data/autzen.las
!examples/data/half-dome.laz
!examples/data/read.xml
!examples/data/half-dome.xml
