doctype html
html(lang="en")
    head
        title GREYHOUND WEB VIEWER
    link(rel="stylesheet" type="text/css" href="/css/style.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="/js/three.js")
    script(src="/js/Detector.js")
    script(src="/js/controls/TrackballControls.js")
    script(src="/js/render.js")
    script(src="/js/client.js")
    body
        #container
        #stats
            #fps NA
            #pointCount 1.2m
        #messages
        #logo Greyhound
