global
	log 127.0.0.1	local0
	log 127.0.0.1	local1 notice
	#log loghost	local0 info
	maxconn 4096
	#chroot /usr/share/haproxy
	user haproxy
	group haproxy
	#debug
	#quiet

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
	retries	3
	option redispatch
	maxconn	2000
	contimeout	5000
	clitimeout	50000
	srvtimeout	50000

backend web
	server web_server 127.0.0.1:8081    # Back-end web server port.

backend	ws
	server ws_server  127.0.0.1:8082    # Back-end websocket port.

frontend fe
	bind *:8080                         # Greyhound's only public incoming port.
	mode http
	acl is_websocket hdr(Upgrade) -i WebSocket
	use_backend ws if is_websocket
	default_backend web

